<?xml version="1.0" encoding="utf-8"?>

<!--
  NuGet.config is the configuration file for managing NuGet package sources, credentials, and other settings for .NET projects. 

  This file allows you to:
  - Specify custom package sources (public, private, or local feeds).
  - Control package caching, restore behavior, and version overrides.
  - Set global or specific project/solution-wide NuGet configurations.

  You can have multiple NuGet.config files at different scopes:
  - Project-specific (in project directory).
  - Solution-wide (in the root solution directory).
  - User-specific (in user profile directory).
  - Machine-wide (for all users on a system).

  The settings are merged based on precedence:
  Project > Solution > User > Machine-wide > Global
-->

<configuration>
  <packageSources>
    <add key="NexusOpsGitHub" value="https://nuget.pkg.github.com/nexus-ops/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <NexusOpsGitHub>
      <add key="Username" value="dev-nexusops" />
      <add key="ClearTextPassword" value="{PAT placeholder}" />
    </NexusOpsGitHub>
  </packageSourceCredentials>
</configuration>
